body {
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* form */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  line-height: inherit;
  resize: vertical;
}

a,
button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.menu-openbody {
  overflow: hidden;
}

.header {
  color: #000;
  font-family: "Merriweather";
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFF9F4;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    gap: 5px;
  }
}
.header__logo {
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  z-index: 51;
}
@media (max-width: 991.98px) {
  .header__logo {
    z-index: 105;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    font-size: 24px;
    text-wrap: nowrap;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 100;
    overflow: auto;
    padding: 80px 15px 15px 30px;
    background-color: #e2e2e2;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 2;
    height: 70px;
    background-color: #e9dfd9;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  row-gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 30px;
  }
}
.menu__link {
  font-size: 20px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #D58417;
  }
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 30px;
    font-weight: 700;
  }
}
.menu__item--parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.actions-header__item {
  width: 32px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.actions-header__item span {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background-color: #FF3333;
  color: #FFF;
  font-size: 10px;
  text-align: center;
  padding-top: 1px;
}
@media (any-hover: hover) {
  .actions-header__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 991.98px) {
  .actions-header__item {
    z-index: 105;
  }
}
@media (max-width: 767.98px) {
  .actions-header__item {
    gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .actions-header__icon {
    padding: 13px 15px;
  }
}

.icon-menu {
  display: none;
  width: 30px;
  background-color: transparent;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 18px;
  position: relative;
  z-index: 105;
}
.icon-menu::before, .icon-menu::after, .icon-menu span {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000;
}
.icon-menu span {
  margin-top: -1px;
}
.icon-menu::after {
  top: 0;
}
.icon-menu::before {
  bottom: 0;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.footer {
  padding: 20px;
  background-color: #008c93;
}